apache-ant-1.9.1-bin.tar.gz
apache-maven-3.0.5-bin.tar.gz
hive-dist.tar.gz
hive/
protobuf-2.4.1.tar.bz2
protobuf-2.4.1/
protobuf-2.5.0.tar.bz2
protobuf-2.5.0/
tez-dist.tar.gz
tez/
hive-site.xml.local
local.mk
